@model EMDB.Packet

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Packet</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="DT" />
        <input type="hidden" asp-for="Node" />
        <dt>
            @Html.DisplayNameFor(model => model.SC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeltaSeconds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeltaSeconds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.V)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.V)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.X)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.X)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W10)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W11)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W11)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W12)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W12)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W13)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W13)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W14)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W14)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W15)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W15)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W16)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W16)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W17)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W17)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W18)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W18)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W19)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W19)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W20)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W20)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W22)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W22)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W23)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W23)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W24)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W24)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W25)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W25)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W26)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W26)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W27)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W27)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W28)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W28)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W29)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W29)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W30)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W30)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W31)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W31)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.E32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.E32)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P32)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wh32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wh32)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Delta32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta32)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.W32)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.W32)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
