@using EMDB
@model IEnumerable<EMDB.Plot>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<ul id="menu">
    <li>
        Normal Item
        <ul>
            <li><span class="k-sprite icon-class"></span>Item with a Sprite</li>
            <li><img src="Icons/contacts.gif" />Item with an Icon</li>
        </ul>
    </li>
    <li><a href="http://www.google.com">Navigation Item</a></li>
    <li class="k-state-active">Active Item</li>
    <li>
        Template Item
        <div class="k-group k-content">
            Test button - <a class="k-button">Button</a>
        </div>
    </li>
</ul>

<script>
    $(document).ready(function() {
        $("#menu").kendoMenu();
    });
</script>

<h2>Kendo UI DatePicker</h2>

@(Html.Kendo().DatePicker()
      .Name("datepicker")
      .Deferred()
      )

@(Html.Kendo().Grid(Model)
      .Name("Grid")

      .Columns(columns =>
      {
          columns.Bound(p => p.DT).Title("Date");
          columns.Bound(p => p.Value).Title("Value").Width(130);
          //columns.Bound(p => p.E1).Title("E1").Width(130);
          //columns.Bound(p => p.W1).Width(130);
      })
      .HtmlAttributes(new { style = "height: 550px;" })
      .Pageable( pageable => pageable
          .Input(true)
          .Numeric(false)
      )
      .Sortable()
      .Scrollable(scr=>scr.Height(430))
      .Filterable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .ServerOperation(false)
      )
      )

      

@*<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeltaSeconds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.V)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.X)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E27)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P27)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh27)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta27)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W27)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E29)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P29)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh29)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta29)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W29)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E30)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P30)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh30)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta30)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W30)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E31)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P31)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh31)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta31)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W31)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.E32)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.P32)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wh32)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delta32)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.W32)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeltaSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.V)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.X)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.E32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wh32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delta32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.W32)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@